[run]
source =
    doorbell
omit =
    */doorbell/_version.py
    */test/*
branch = True
data_file = coverage/.coverage
[paths]
source = 
    src/doorbell
    *\site-packages\doorbell
    */site-packages/doorbell

[report]
exclude_lines = 
    # re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

[html]
directory = coverage/html
